
<div class="section-city" id="recuperar-ciudad">
  <div class="location-map">
    <div class="city-information">
      <div class="container">
        <div class="box-information">
          <h3 class="city-main-tittle">#RecuperaLaCiudad</h3>
          <p class="tittle-city">Es momento de repensar la ciudad. Ayúdanos a mapear esos puntos de la ciudad que deberían mejorarse.</p>
          <form class="form-city">
            <div class="form-group">
              <input class="forms-inputs" type="text" placeholder="Encuentra el punto a recuperar…"/>
            </div>
          </form>
          <div class="location-city"><a class="location-tittle" id="location-around">Cerca de mí</a><a class="icon-list" href=""><img src="img/icono/page-2.png" alt=""/></a><a class="icon-map" href=""><img src="img/icono/map.png" alt=""/></a></div>
          <div class="location-places">
            <div class="container location-places-desktop"><a class="tittle-places">Cerca de mí</a>
              <p class="places-bg">Lugares populares </p>
              <ul>
                <li><a href="">Barranco</a></li>
                <li><a href="">Santiago de Surco</a></li>
                <li><a href="">Breña</a></li>
                <li><a href="">Cercado de Lima</a></li>
                <li><a href="">Chorrillos</a></li>
                <li><a href="">Miraflores</a></li>
                <li><a href="">San Isidro</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15605.174388777828!2d-77.05068954999999!3d-12.0920419!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spe!4v1501865958271" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
  <div class="list-places">
    <div class="listado-row">
      <div class="list-left"><img src="img/1.PNG" alt=""/></div>
      <div class="list-right">
        <h3 class="tittle-direction">Calle Pardo 57</h3>
        <p class="list-parrafo">Cables enredados en poste de vía pública y lorem ipsum dolorem..</p>
        <div class="address-share"><span>Carla Obregón</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
      </div>
    </div>
    <div class="listado-row">
      <div class="list-left"><img src="img/1.PNG" alt=""/></div>
      <div class="list-right">
        <h3 class="tittle-direction">Malecón Barranco, Costa Verde</h3>
        <p class="list-parrafo">Rajadura de postes de puente peatonal de vía pública y lorem…</p>
        <div class="address-share"><span>Andrés Tello</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
      </div>
    </div>
    <div class="listado-row">
      <div class="list-left"><img src="img/1.PNG" alt=""/></div>
      <div class="list-right">
        <h3 class="tittle-direction">Puente Avenida Brasil</h3>
        <p class="list-parrafo">Rajadura de postes de puente peatonal de vía pública y lorem…</p>
        <div class="address-share"><span>Daniela Vidal</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
      </div>
    </div>
  </div>
</div>