<!-- Modal-login  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Modal-login">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h3>Ingresa</h3><a class="b-face" href=""><span class="icon-facebook"></span>Ingresar con Facebook</a><a class="b-google" href=""><span class="icon-google-plus"></span>Ingresar con Google</a>
        <div class="line">
          <div class="o">o</div>
        </div>
        <div class="form-group">
          <input class="form-control w-40" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Nombre y Apellido"/>
        </div>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon" id="basic-addon1">@</span>
            <input class="form-control w-40 b-right-l" type="text" placeholder="Correo electrónico" aria-describedby="basic-addon1"/>
          </div>
        </div><a class="b-ingresar" href="">Ingresar</a>
      </div>
    </div>
  </div>
</div><!--  Modal-nuevo-punto  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Modal-nuevo-punto">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h3>Nuevo punto <br> <span> #RecuperaLaCiudad</span></h3>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon" id="basic-addon1"><img src="img/icono/page1.png" alt=""/></span>
            <input class="form-control w-40 b-right-l" type="ubicacion" placeholder="Correo electrónico" aria-describedby="basic-addon1"/>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control w-40" id="exampleInputEmail1" type="punto" aria-describedby="emailHelp" placeholder="Nombre del Punto"/>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="comment" rows="5" type="comentario" aria-describedby="emailHelp" placeholder="Explícanos cual es el problema y como lo recuperarías (opcional) "></textarea>
        </div>
        <div class="subir"><a href="" type="file"><img src="img/icono/sub.png" alt=""/>Subir foto o video</a></div><a class="b-ingresar" href="">Enviar</a>
      </div>
    </div>
  </div>
</div><!-- Modal - lugar -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Modal-lugar">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h3>Cables Expuestos en Poste</h3>
        <p class="ubicacion"><img src="img/icono/page1.png" alt=""/>Calle Pardo 577, San Isidro</p><img class="foto-lugar" src="img/page1.jpg" alt=""/>
        <h4>Cómo recuperarlo</h4>
        <p class="texto-lugar">Lorem ipsum dolorem sit amet et alas consecitum et aprentum losdemar et consecut. Molentum lorem ipsosetum cosquetum. losdemar et consecut. Et pendelum de la lorem ipsosetum cosquetum. Ipso pendum lorem ipsosetum cosquetum. Ipsosetum cosquetum. Dependum loremutute et lormun.</p>
        <div class="nombre">
          <p>Carla Obregón</p>
          <ul>
            <li><a class="like" href="">+2</a></li>
            <li><a class="compartir" href=""><img src="img/icono/share.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!-- Modal - loagin-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Modal-loading">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body"><img class="animacion" src="img/ani-gif.gif" alt=""/>
        <h3>Comparte  y <span>#RecuperaLaCiudad</span></h3>
      </div>
    </div>
  </div>
</div>