html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background: #ffffff;
    color: $gris;
    font-weight: 500;
}

body.body-overflow, html.body-overflow {
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        overflow: auto;
    }
}

a {
    color: #5D5D5D;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $gris;
        text-decoration: none;
    }
}
