.menu
    ul.list-inline.menu-principal
        li
            a.ico-menu.c-red.menu--active(href="introduccion.html") INTRODUCCIÓN
        li
            a.ico-menu(href="feedback-taller.html") RDMA
        li
            a.ico-menu(href="ejercicios.html") EJERCICIOS
        li
            a.ico-menu(href="resumen.html") RESUMEN
        li
            a.ico-menu(href="feedback-durante.html") METODOLOGÍA DE FEEDBACK

        a.box-logo(href="index.html")
            .card-logo
                img(src="img/iconos/logo.png", alt="")

    .sub-menu.submenu1
