.banner-principal
    .banner-titulo
        p Quiénes Somos

#quienes-somos
    .container
        .content-text
            h3 Somos una compañía de seguros de vida, con amplia experiencia en pensiones de jubilación. Pertenecemos a uno de los más grandes grupos económicos de Latinoamérica: Inversiones ILC, quien participa activamente en las industrias financiera y de salud, a través de empresas entre las cuales destacan AFP Habitat (Perú y Chile), Confuturo, Corpseguros, Banco Internacional, Consalud, Red Salud y Vida Cámara (Perú y Chile).

            h4 Vida Cámara Seguros brinda el Seguro de Invalidez y Sobrevivencia del Sistema Privado de Pensiones, ganado por licitación, desde sus inicios y hoy atiende a más de X millones de peruanos.

            h4 Forma también parte de nuestra cartera de productos, el seguro de Rentas Vitalicias, solución a través de la cual brindamos a nuestros asegurados, la posibilidad de cumplir sus sueños y alcanzar sus metas, con la tranquilidad de saber que tienen el respaldo económico necesario.

        .letra-img
            img(src="img/letra.png", alt="")

        .valores
            .col-md-5
                .text-valores
                    h4 Misión
                    p Ofrecer al mercado peruano soluciones de seguros de vida, que satisfagan las necesidades de las familias peruanas.

                .text-valores
                    h4 Visión
                    p Ser un actor relevante en el mercado asegurador peruano, que entregue soluciones innovadoras, simples, transparentes y con altos estándares de calidad en el servicio.

                img.img-valores(src="img/somo.png", alt="")

            .col-md-5.c-rigth
                .text-valores
                    h4 Nuestros Valores
                .text-valores
                    h3 Compromiso:

                    p Cumplir con nuestros clientes, colaboradores y accionistas, es el eje central de nuestro accionar, en concordancia con nuestras políticas corporativas.
                .text-valores
                    h3 Honestidad:
                    p Es nuestra premisa ser transparentes en cada una de nuestras acciones y actividades a todo nivel: clientes, colaboradores y accionistas.

                .text-valores
                    h3 Trabajo en equipo:
                    p La excelencia en nuestro trabajo y la suma de nuestras habilidades marca la diferencia para cumplir los objetivos trazados por la Compañía.
