.container-wrapper {
  display: table;
  margin: 0 auto;
  height: 100%;
}
.container {
  padding: 0;
  margin: auto;
  width: 960px;
  height: 650px;
  border: 1px solid #E0E0E0;
  position: relative;
}

.bg-home{
    background: url("../img/bg/bg-home.jpg");
}
.content-home{
    max-width: 574px;
    margin: 250px auto 0px;
    p{
        color: $white;
        font-size: 67px;
        line-height: 60px;
        font-family: $base-light;
        padding-bottom: 30px;
        span{
            font-family: $base-bold;
        }
    }
    .button-red{
        float: left;
        margin: 0px 10px 0px 5px; 
    }
    .button-crema{
        float: right;
        margin-right: 5px;
    }
}

.button-red{
    letter-spacing: 1.1px;
    font-size: 23px;
    font-family: $base-medium;
    background: $red;
    padding: 10px 22px;
    border-radius: 25px 0px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($red, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;

        &:active {
            background: darken($red, 10%);
            border-color: transparent;
        }
    }

    &:active {
        background: darken($red, 10%);
        border-color: transparent;
    }
}

.button-crema{
    letter-spacing: 1.1px;
    font-size: 16px;
    font-family: $base-medium;
    background: $crema;
    color: $gris;
    padding: 15px 15px;
    border-radius: 25px 0px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($crema, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: $gris;

        &:active {
            background: darken($crema, 10%);
            border-color: transparent;
        }
    }

    &:active {
        background: darken($crema, 10%);
        border-color: transparent;
    }
}