extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN

                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1

                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Ahora, analiza la escena:
                    .col-md-12.h-63.pd-sec-12
                        .row
                            .col-md-6
                                .box-casos-e.occult.one
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casosb <strong>Pedro agendó la sesión de RDMA</strong> con una semana de anticipación.

                            .col-md-6.pd-l
                                .box-casos-e.occult.three
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casosb <strong> Mateo revisó en DESTACA</strong> la información respecto al <strong>avance de los objetivos</strong> e iniciativas de Pedro.
                        .row
                            .col-md-6
                                .box-casos-e.occult.two
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casosb El día de la sesión de feedback, <strong>Pedro comentó que conocía bien este proceso (CPE)</strong> ya que era la décima revisión de medio año que pasaba, y que en su experiencia este proceso era muy útil para los jefes y a los colaboradores. También comentó lo satisfechos que estaban todos con su función de nuevo Líder y que  podía contarle más detalle de comentarios positivos respecto a su gestión.

                            .col-md-6.pd-l
                                .box-casos-e.occult.four
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casosb Mateo, aunque se preparó antes de la sesión, alcanzó a describir el contexto y los comportamientos que había definido previamente. Sin embargo, <strong>no pudo completar con todo lo planificado, puesto que se<br> prolongó</strong> escuchando a Pedro, y dado que tenía agendada una  sesión de feedback inmediatamente después con otro colaborador,<br> le  <strong>envió a Pedro sus oportunidades y recomendaciones por mail. </strong>

                                .box-casos-e.occult.five
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casosb Mateo se sintió confiado y al no recibir<br> preguntas posteriores <strong>no programó otro espacio de feedback porque no le fue solicitado.</strong>



                .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios1.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios3.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".one", 1, {opacity: 1, delay:.5});
            TweenLite.from(".one", 1, {y:"30px", delay:.5});

            TweenLite.to(".two", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".two", 1, {y:"30px", delay:1.5});

            TweenLite.to(".three", 1, {opacity: 1, delay:2.});
            TweenLite.from(".three", 1, {y:"30px", delay:2.});

            TweenLite.to(".four", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".four", 1, {y:"30px", delay:2.5});

            TweenLite.to(".five", 1, {opacity: 1, delay:3.});
            TweenLite.from(".five", 1, {y:"30px", delay:3.});

        }
