extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN

                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK


                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1
                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Lee con atención los siguientes perfiles:
                    .box-col
                        .col-md-6
                            .nombre.one.occult Pedro
                                img(src="img/pedro.jpg", alt="")
                            .box-three.occult
                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Trabaja 12 años en Alicorp.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Conoce muy bien del proceso CPE y conoce  además, los procesos de su área.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Le cuesta sintetizar sus ideas, y no asume la responsabilidad de sus actos.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Tiene 3 de sus 5 objetivos en peligro de no llegar a la meta mínima y no esta cumpliendo todas las iniciativas.

                        .col-md-6
                            .nombre.two.occult Mateo
                                img(src="img/juan.jpg", alt="")

                            .box-four.occult
                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Tiene 29 años, 2 años de experiencia<br> en Alicorp y 1 año liderando el<br> equipo.

                                .box-casos-e
                                    img.pull-left(src="img/iconos/yellow.jpg", alt="")
                                    .texto-casos Sabe que Pedro no está trabajando el Plan de Desarrollo de sus<br> Competencias.
                .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".one", 1, {opacity: 1, delay:.5});
            TweenLite.from(".one", 1, {y:"30px", delay:.5});

            TweenLite.to(".two", 1, {opacity: 1, delay:.5});
            TweenLite.from(".two", 1, {y:"30px", delay:.5});

            TweenLite.from(".box-three", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-three", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-four", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-four", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

        }
