extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1



                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Señala según indica
                    .box-titulo-resumen.true-false.h-63.mg-b1
                        .col-md-1
                        .col-md-11
                            .titulo Selecciona según corresponda  si es un “Acierto” o “Error” de Mateo:
                            .row
                                .col-md-10
                                    p Revisa información ingresada en Destaca por Pedro

                                    p Envia a Pedro sus oportunidades y recomendaciones por mail

                                    p Se prepara para dar un feedback claro y poderoso

                                    p No define una siguiente fecha de revisión al no ser solicitada por Pedro


                                .col-md-2
                                    form.col-respuesta
                                        select.selectpicker
                                            option -selecciona-
                                            option Acierto
                                            option Error

                                        select.selectpicker
                                            option -selecciona-
                                            option Acierto
                                            option Error

                                        select.selectpicker
                                            option -selecciona-
                                            option Acierto
                                            option Error

                                        select.selectpicker
                                            option -selecciona-
                                            option Acierto
                                            option Error

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='resumen.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer


    script(type='text/javascript').
        jQuery(document).ready(function ($) {

            $('select').on('change', function() {

                    getSelects('selectpicker');

                });

                function getSelects(element_class) {
                    var array2 = [];
                    $('select.' + element_class).children('option:selected').each(function () {
                        var $this = $(this);
                        array2.push($this.text());
                    });

                    var index = array2.indexOf("-selecciona-");

                    if (index == -1) {

                        var array1 = ['Acierto','Error','Acierto','Error'];

                        var is_same = array1.length == array2.length && array1.every(function(element, index) {
                                    return element === array2[index];
                                });

                        if(is_same){

                           window.location.href ="ejercicios5-bien.html";

                        }
                        else{

                            window.location.href ="ejercicios5-mal.html";
                        }
                    }
                }

        });
