extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1

                .content-resumen#ejer3
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                            .texto Marca según corresponda:
                    .col-md-12.h-63
                        .titulo.c-plomo 2. ¿Qué habilidades debió utilizar el jefe con este colaborador?
                        ul
                            li
                                img.img-responsive(src="img/an-1.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check1(type='checkbox', name='rpta1', value='1')
                                        label.color-green.check-item(for='check1') Empatía
                            li
                                img.img-responsive(src="img/an-2.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check2(type='checkbox', name='rpta2', value='2')
                                        label.color-green.check-item(for='check2') Asertividad
                            li
                                img.img-responsive(src="img/an-3.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check3(type='checkbox', name='rpta3', value='3')
                                        label.color-green.check-item(for='check3') Pensamiento Analítico
                            li
                                img.img-responsive(src="img/an-4.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check4(type='checkbox', name='rpta4', value='4')
                                        label.color-green.check-item(for='check4') Objetividad
                            li
                                img.img-responsive(src="img/an-5.jpg", alt="")
                                .checkbox.checkbox2.color-green
                                    p
                                        input#check5(type='checkbox', name='rpta5', value='5')
                                        label.color-green.check-item(for='check5') Autocontrol


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='ejercicios3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer

    script(type='text/javascript').
        $("input:checkbox").on('click', function() {
          // in the handler, 'this' refers to the box clicked on
          var $box = $(this);

          if ($box.is(":checked"))
           {
            $box.prop("checked", true);

            var checkboxLen = $("input:checkbox:checked").length;
            var rpta3 = $( "input[name='rpta3']" ).is(":checked");
            var rpta5 = $( "input[name='rpta5']" ).is(":checked");

            if (checkboxLen == 2) {
              if (rpta3 && rpta5 ) {
                $(".good").show(500);
                location.assign("ejercicios4-bien.html");
              } else {
                $(".bad").show(500);

                location.assign("ejercicios4-mal.html");

              }
            }
          } else
          {
            $(".good, .bad").hide(500);
            $box.prop("checked", false);
          }
        });


