extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.c-red.menu--active(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA DE FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1

                .intro-feedback.bg-ejercicios.h-resumen
                    .btn-w-feedback.lr-relative.btn-1.occult
                        p Caso práctico

                    .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues6.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR
                            a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios1.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right

                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-1", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-1", 1, {y:"50px", delay:.5});

        }
