extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-colaboradores
                    .titulo ¿Qué dicen los colaboradores del Feedback?
                    .seccion-colaboradores
                        .content-que-dicen
                            .recuadro-g.r-1.occult
                                p “…preferiría <br>contar con<br> espacios<br> informales <br>que promuevan<br> el feedback continuo”
                            .recuadro-2.occult
                                img(src="img/n-1.png", alt="")
                            .recuadro-3.occult
                                img(src="img/n2.png", alt="")
                            .recuadro-g.r-2.occult
                                p “…considero que mi desempeño podría mejorar, si recibiera feedback continuo de mi jefe”
                            .recuadro-text1
                                h5 Fuente: Revisión del proceso de Compromisos para el éxito de la Consultora Mercer 2017

                        img.rec(src="img/recuerda.jpg", alt="")




                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-despues6.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right
                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-2", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-2", 1, {y:"50px", delay:.5});

            TweenLite.to(".r-1", 1, {opacity: 1, delay:.8});
            TweenLite.from(".r-1", 1, {y:"50px", delay:.8});

            TweenLite.to(".recuadro-3", 1, {opacity: 1, delay: 1.1});
            TweenLite.from(".recuadro-3", 1, {y:"30px", delay: 1.1});

            TweenLite.to(".r-2", 1, {opacity: 1, delay: 1.4});
            TweenLite.from(".r-2", 1, {y:"20px", delay: 1.4});



        }/**/
