extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-feedback.bg-feedback10
                    .recuadro-frase2.occult
                        p “Muchas personas recuerdan situaciones en las que les dieron un feedback negativo y quedaron afectadas. Pero también recuerdan las palabras de un feedback honesto y constructivo que influyó en su éxito.”
                        h4 Artículo de Jack Zenger y Joseph Folkman
                        h5.texto Harvard Business Review – Dic. 2013


                    .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues5.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR
                            a.btn.btn-primary.button-crema-g.btn-r(href='ejercicios.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right
                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-frase2", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-frase2", 1, {y:"20px", delay:.5});


        }

