extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK
                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-despues-caso
                    .titulo ¿Cómo reconocer cada caso?
                    .seccion-despues-caso
                        .col-md-4.pl-0
                            img.colum-l.occult.img-despues(src="img/banderin-3.png", alt="")
                            h4.colum-l.occult.c-green Caso con baja necesidad de seguimiento
                        .col-md-8.pd-0
                            .subtitulo.tl_list0.occult Cuando el colaborador:
                            .box-casos.tl_list1.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos <strong>Tenga claridad</strong> durante la sesión de RDMA y trabaja sus principales observaciones logrando sus objetivos con aparente facilidad.
                            .box-casos.tl_list2.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos Muestra un <strong>alto compromiso</strong> con el proceso CPE.
                            .box-casos.tl_list3.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos Muestra claras habilidades de <strong>autogestión y logra sus objetivos.</strong>
                            .box-casos.tl_list4.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos <strong>Refuerza y reconoce</strong> sus comportamientos y cómo se asocian a las competencias y objetivos que tiene como meta alcanzar.


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-despues5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right
                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".colum-l", 3, {opacity:1, ease:"Back.easeInOut"});

            TweenLite.to(".tl_list0", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".tl_list0", 1, {y:"40px", delay:1.5});

            TweenLite.to(".tl_list1", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".tl_list1", 1, {y:"40px", delay:1.5});

            TweenLite.to(".tl_list2", 1, {opacity: 1, delay:2.});
            TweenLite.from(".tl_list2", 1, {y:"50px", delay:2.});

            TweenLite.to(".tl_list3", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".tl_list3", 1, {y:"50px", delay:2.5});

            TweenLite.to(".tl_list4", 1, {opacity: 1, delay:3.});
            TweenLite.from(".tl_list4", 1, {y:"50px", delay:3.});

            TweenLite.to(".tl_list5", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".tl_list5", 1, {y:"50px", delay:3.5});

        }
