extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .content-antes
                    p.titulo Recomendaciones antes del feedback de RDMA
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-1
                            .circle-num
                                p 1
                            h4 <strong>Recuérdale a tu equipo</strong> sobre el inicio del<br> proceso RDMA e invítalos a agendarte, si aún no lo ha hecho.

                        .btn-green-antes.occult.box-4
                            .circle-num
                                p 4
                            h4 Considera la posible reacción del colaborador frente al feedback y <strong>prepárate</strong> para manejarlo de la mejor manera.
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-2
                            .circle-num
                                p 2
                            h4 Asegúrate que el colaborador haya <strong>actualizado el avance</strong> de sus objetivos antes de la sesión en <strong>Destaca</strong>

                        .btn-green-antes.occult.box-5
                            .circle-num
                                p 5
                            h4 Asegúrate de tomar en cuenta todos los imprevistos que pudieran ocurrir, con el objetivo de evitar <strong>reagendar la cita.</strong>
                    .col-md-4.pd-0
                        .btn-green-antes.occult.box-3
                            .circle-num
                                p 3
                            h4 Identifica <strong>información relevante</strong> (objetivos y competencias) y válida (evidencias, casos y datos). <strong>Pide insumos</strong> si los necesitas. Organiza el feedback

                        .btn-green-antes.occult.box-6
                            .circle-num
                                p 6
                            h4 Si tienes <strong>dudas</strong> respecto al manejo de un caso, <strong>pide asesoría</strong> a tu jefe inmediato y/o a tu Business Partner de Recursos Humanos.

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});

            TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-3", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

            TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
            TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});

            TweenLite.to(".box-6", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".box-6", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});


        }
