extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .elige-a.durante8
                    .col-md-12.content
                        .col-md-3.col-left-elige
                            .p-elige Elige a qué <span>“A”</span> corresponde cada frase
                        .col-md-9.col-right-elige
                            p •Con respecto al objetivo… y a la iniciativa… he revisado la información…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="1") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="2") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="3") Actúa

                            p •Hace un mes, en la reunión con… actuaste de forma…y evidenciaste…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="4") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="5") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="6") Actúa

                            p •Háblame de las razones, de las acciones o de los comportamientos evidenciados…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="7") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="8") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="9") Actúa

                            p •El impacto de esas acciones fue…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="10") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="11") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="12") Actúa

                            P •Dime cómo consideras manejar este reto…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="13") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="14") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="15") Actúa

                            P •A partir de ahora podemos hacer…
                            .content-btn
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="16") Aclara
                                a.btn.btn-primary.green-btn(href='#', role='button' data-value="17") Analiza
                                a.btn.btn-primary.green-btn(hsref='#', role='button' data-value="18") Actúa

                .row-btn
                    a.btn.btn-primary.green-btn.button-crema-g.btn-l(href='feedback-durante7.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.green-btn.button-crema-g.btn-r(href='feedback-despues.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer
