extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-despues-caso
                    .titulo ¿Cómo reconocer cada caso?
                    .seccion-despues-caso
                        .col-md-4.pl-0
                            img.img-despues.colum-l.occult(src="img/banderin-1.png", alt="")
                            h4.c-red.colum-l.occult Caso con alta necesidad <br> de seguimiento
                        .col-md-8.pd-0
                        .col-md-8.pd-0
                            .subtitulo.tl_list0.occult Cuando el colaborador:
                            .box-casos.tl_list1.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos Se muestra <strong>muy resistente</strog> a recibir un feedback para la mejora.
                            .box-casos.tl_list2.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos Salga de la sesión de RDMA, con <strong>poco convencimiento</strong> del feedback que le otorgaste.
                            .box-casos.tl_list3.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos Por segundo año consecutivo, <strong>no logre el avance esperado</strong> en la RDMA.
                            .box-casos.tl_list4.occult
                                img.pull-left(src="img/iconos/ico-verde.png", alt="")
                                .texto-casos <strong>Sea nuevo</strong> en Alicorp y necesite integrarse rápidamente al equipo de trabajo y su funcionamiento.



                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues1.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-despues3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".colum-l", 3, {opacity:1, ease:"Back.easeInOut"});

            TweenLite.to(".tl_list0", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".tl_list0", 1, {y:"40px", delay:1.5});

            TweenLite.to(".tl_list1", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".tl_list1", 1, {y:"40px", delay:1.5});

            TweenLite.to(".tl_list2", 1, {opacity: 1, delay:2.});
            TweenLite.from(".tl_list2", 1, {y:"50px", delay:2.});

            TweenLite.to(".tl_list3", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".tl_list3", 1, {y:"50px", delay:2.5});

            TweenLite.to(".tl_list4", 1, {opacity: 1, delay:3.});
            TweenLite.from(".tl_list4", 1, {y:"50px", delay:3.});

            TweenLite.to(".tl_list5", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".tl_list5", 1, {y:"50px", delay:3.5});

        }
