extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .intro-feedback.bg-durante
                    .btn-w-feedback.l-40.occult
                        p La experiencia<br> de dar feedback  <span class="meto">Metodología</span>

                    .row-intro-feedback
                        .box-btn-intro
                            .btn-intro-feedback
                                h3 Antes
                            .btn-intro-feedback.bg-red
                                h3 Durante
                            .btn-intro-feedback
                                h3 Después
                        .row-btn.mg-f-des
                            a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes9.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR
                            a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante2.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right

                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.from(".btn-w-feedback", .5, {marginLeft: "-100px", delay:.5});
            TweenLite.to(".btn-w-feedback", .5, {opacity: 1, delay:.5});

            TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});

            TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
            TweenLite.from(".i-one", 1, {y:"50px", delay:.9});

            TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
            TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});

            TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});


        }
