extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .feedback-sesiones
                    .col-md-12
                        p.titulo.c-red Estados emocionales
                        .btn-sesion.occult
                            h4 Todas las sesiones de <strong>feedback</strong> son diversas y pueden provocar <strong>diferentes emociones</strong> en los <strong>colaboradores que lo reciben.</strong><br> A continuación te mostraremos algunos ejemplos

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes5.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-sesion", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-sesion", 1, {y:"50px", delay:.5});


        }
