extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .feedback-metolodogia.utilizar-metolodogia
                    .col-md-12
                        .titulo Metodología para dar Feedback
                        .texto.occult ¿Qué metodología se puede utilizar? “Las 3 A”
                        .content-utilizar-metolodogia
                            .col-md-4.left.occult
                                img(src="img/3a.png", alt="")
                                h4 Objetivo<br> Competencia

                            .col-md-4.middle.occult
                                img(src="img/3b.png", alt="")
                                h4 Impacto<br> Influencia

                            .col-md-4.right.occult
                                img(src="img/3c.png", alt="")
                                h4 Plan<br> Compromiso



                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".texto", 1, {opacity: 1, delay:.5});
            TweenLite.from(".texto", 1, {y:"30px", delay:.5});

            TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
            TweenLite.to(".left", 1, {opacity: 1, delay:1.});

            TweenLite.from(".middle", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".middle", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
            TweenLite.to(".right", 1, {opacity: 1, delay:2.});


        }
