extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .valores
                    .row.val-1
                        .col-md-4.box-1.occult
                            img(src="img/an-1.png", alt="")
                            h4 Empatía
                        .col-md-4.box-2.occult
                            img(src="img/an-2.png", alt="")
                            h4 Asertividad
                        .col-md-4.box-3.occult
                            img(src="img/an-3.png", alt="")
                            h4.mg-15 Pensamiento Analítico

                    .row.val-2
                        .col-md-2
                        .col-md-4.box-4.occult
                            img(src="img/an-4.png", alt="")
                            h4 Objetividad
                        .col-md-4.box-5.occult
                            img(src="img/an-5.png", alt="")
                            h4 Autocontrol
                        .col-md-2
                            .img-descarga
                                a(href="pdf/A_A_OnepageHabilidadesdelJefe v3 040817.pdf", download="")
                                    img(src="img/descarga.png", alt="")

                .row-intro-feedback.l-328
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes7.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes8.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".box-1", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".box-1", 1, {opacity: 1, delay: .5});

            TweenLite.from(".box-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".box-2", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".box-3", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".box-3", 1, {opacity: 1, delay:2});

            TweenLite.to(".box-4", 1, {opacity: 1, delay:2.5});
            TweenLite.from(".box-4", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});

            TweenLite.to(".box-5", 1, {opacity: 1, delay:3});
            TweenLite.from(".box-5", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});


        }



