extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .etapas
                    .etapas-intro.pd-taller
                        .col-md-6
                            p.sub-titulo.c-green Etapa 2
                            .recuadro-procesos.bg-green.occult
                                p Revisión de Medio Año
                            .iconos-1
                                img.i-one.occult(src="img/iconos/line-1.png", alt="")
                                img.i-two.occult(src="img/iconos/c-green.png", alt="")

                        .col-md-6.pd-0
                            p.etapa.occult Es el momento formal en el que<br> <strong>revisamos el progreso de nuestros objetivos y el desarrollo de nuestras competencias,</strong> a través del feedback, <br>  para asegurar el éxito de nuestro desempeño para el presente año.

                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});

            TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
            TweenLite.from(".i-one", 1, {y:"50px", delay:.9});

            TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
            TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});

            TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});


        }
