extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK
                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .utilizo-metodologia
                    .col-md-12
                        .titulo ¿Cómo utilizo la metodología para
                        h4 un feedback para la mejora?
                        h3 Ejemplo
                        .seccion-video
                            h4 VIDEO

                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante5.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante7.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer
