extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .algunas-frase
                    .col-md-12.content

                        .col-md-4.col-left-frase
                            img.left.occult(src="img/3a.png", alt="")
                            h4.left.occult Objetivo<br> Competencia
                        .col-md-8.col-right-frase
                            .titulo Algunas frases que puedes usar:
                            img.img-center.occult(src="img/iconos/3a.png", alt="")

                            .row.aclara.occult
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Hace un mes, en la reunión con…<br> actuaste de forma…<br> y evidenciaste…

                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Con respecto al objetivo… y a la iniciativa… he revisado la información…
                            .row.aclara.occult
                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Has evidenciado la competencia… en el momento… y de la forma…

                                .col-md-6
                                    .box-items
                                        img.pull-left(src="img/iconos/chat2.png", alt="")
                                        p Vamos a hablar sobre…


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante2.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante4.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".left", 1, {opacity: 1, delay:.5});
            TweenLite.from(".left", 1, {marginLeft: "-150px", delay:.5});

            TweenLite.to(".img-center", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".img-center", 1, {y:"30px", delay:1.5});

            TweenLite.to(".aclara", 1, {opacity: 1, delay:2.3});
            TweenLite.from(".aclara", 1, {y:"30px", delay:2.3});




        }

