extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                       .container-fluid
                            ul.list-inline
                                li
                                    a.line-w(href='feedback-taller.html') Inicio
                                li
                                    a(href='feedback-antes.html') Antes
                                li
                                    a(href='feedback-durante.html') Durante
                                li
                                    a(href='feedback-despues.html') Después

                .valt-feedback
                    p.titulo 2 tipos de feedback
                    .row
                        .tipo-2
                            img.occult.one(src="img/circulo-n.png", alt="")
                            img.c-top.occult.three(src="img/c-top.png", alt="")
                            img.c-left.occult.two(src="img/c-left.png", alt="")
                            img.c-right.occult.four(src="img/c-right.png", alt="")
                            img.c-bottom.occult.five(src="img/c-bottom.png", alt="")
                            img.tri-l.occult(src="img/rr.png", alt="")
                            img.tri-t.occult(src="img/ll.png", alt="")
                            img.tri-r.occult(src="img/rr2.png", alt="")
                            img.tri-b.occult(src="img/bb2.png", alt="")



                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller3.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller4.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".one", 1, {opacity: 1, delay: .5});

            TweenLite.from(".tri-l", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".tri-l", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:2, ease: "Back.easeOut"});
            TweenLite.to(".two", 1, {opacity: 1, delay:2});

            TweenLite.from(".tri-t", 1, {scaleX:.4, scaleY:.4, delay:2.5, ease: "Back.easeOut"});
            TweenLite.to(".tri-t", 1, {opacity: 1, delay:2.5});

            TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:3, ease: "Back.easeOut"});
            TweenLite.to(".three", 1, {opacity: 1, delay:3});

            TweenLite.to(".tri-r", 1, {opacity: 1, delay:3.5});
            TweenLite.from(".tri-r", 1, {scaleX:.4, scaleY:.4, delay:3.5, ease: "Back.easeOut"});

            TweenLite.to(".four", 1, {opacity: 1, delay:4});
            TweenLite.from(".four", 1, {scaleX:.4, scaleY:.4, delay:4, ease: "Back.easeOut"});

            TweenLite.to(".tri-b", 1, {opacity: 1, delay:4.5});
            TweenLite.from(".tri-b", 1, {scaleX:.4, scaleY:.4, delay:4.5, ease: "Back.easeOut"});

            TweenLite.to(".five", 1, {opacity: 1, delay:5});
            TweenLite.from(".five", 1, {scaleX:.4, scaleY:.4, delay:5, ease: "Back.easeOut"});

            TweenLite.to(".six", 1, {opacity: 1, delay:5.5});
            TweenLite.from(".six", 1, {scaleX:.4, scaleY:.4, delay:5.5, ease: "Back.easeOut"});


        }
