extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a.line-w(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                .content-feedback
                    p.titulo Ejercicio de Aprendizaje
                    h4 Relaciona cada característica con su descripción.
                    .ejercicios-aprendizaje
                        .row
                            .col-md-3.pd-3.tl_block1.occult(style='z-index:10')
                              .valid-message
                                .good(style='display:none')
                                  | ¡Muy bien!
                                  br
                                  a.yellowButton(href='feedback-antes.html', style='margin-top:15px')
                                    | Continuar
                                .bad(style='display:none')
                                  | Vuelve a intentarlo
                                  br
                                  a.yellowButton(href='#', style='margin-top:15px')
                                    | Intentar nuevamente
                              #co.col-md-12.padd.dropped
                                .btn-green
                                    h4 A la medida
                              #cpo.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es claro
                              #desc.col-md-12.padd.dropped
                                .btn-green
                                    h4 Se registra
                              #det.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es constructivo
                              #dett.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es oportuno
                              #dettt.col-md-12.padd.dropped
                                .btn-green
                                    h4 Es coherente



                            .col-md-3.tl_block2.occult
                              .col-md-12.padd
                                #wrap1
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap2
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap3
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap4
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap5
                                    img(src="img/ap_droppe.png", alt="")
                              .col-md-12.padd
                                #wrap6
                                    img(src="img/ap_droppe.png", alt="")

                            .col-md-6.tl_block3.col-right.pd-0.occult
                                .item-ejercicios
                                    p Los comportamientos se basan en evidencias y<br> no en suposiciones.
                                .item-ejercicios-g
                                    p Con la finalidad de repasar los planes y<br> acciones definidas.
                                .item-ejercicios
                                    p Se customiza de acuerdo al colaborador a quien se<br> dará feedback.
                                .item-ejercicios-g
                                    p Está alineado a lo que se espera del colaborador y a evidencias<br> de su comportamiento
                                .item-ejercicios
                                    p Debe estar orientado a motivar y desarrollar<br> al colaborador.
                                .item-ejercicios-g
                                    p Debe darse idealmente lo más pronto posible<br> luego del evento.

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right



                include inc/footer








