extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después

                    .content-habilidades
                        .text-habilidades
                            img.h-left(src="img/iconos/h-left.png", alt="")
                            h2.box-letra.occult Habilidades de un Jefe
                            h3.box-letra.occult para afrontar una sesión de  feedback.
                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes1.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".box-letra", 1, {opacity: 1, delay:.5});
            TweenLite.from(".box-letra", 1, {y:"50px", delay:.5});


        }
