extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a.line-w(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Duespués

                .feedback-metolodogia
                    .col-md-12
                        .titulo Metodologías y herramientas CPE - Alicorp
                        .texto.occult En la etapa de Planificación utilizamos las siguientes metodologías para la<br> definición de objetivos y plan de desarrollo.
                        .content-metolodogia
                            .col-md-6.left.occult
                                .metolodogia-left
                                    h4 Metodología SMART
                                    p Para la definición de objetivos.
                                    <br>
                                    img(src="img/durante1.jpg", alt="")

                            .col-md-6.right.occult
                                .metolodogia-left
                                    h4 Metodología 70:20:10
                                    p Para la definición del plan de desarrollo de competencias
                                    img.mrg-5(src="img/durante2.jpg", alt="")


                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-durante.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-durante2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                    include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".texto", 1, {opacity: 1, delay:.5});
            TweenLite.from(".texto", 1, {y:"30px", delay:.5});

            TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
            TweenLite.to(".left", 1, {opacity: 1, delay:1.});

            TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".right", 1, {opacity: 1, delay:1.5});


        }
