extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a.line-w(href='feedback-despues.html') Después

                .intro-despues
                    .titulo ¿Cómo saber con qué frecuencia dar feedback?<br>Identificamos 3 niveles de seguimiento:

                    .banderines
                        .col-md-4.left.occult
                            img(src="img/banderin-1.png", alt="")
                            h4 Casos con <strong>alta necesidad</strong><br> de seguimiento.
                        .col-md-4.pl-0.middle.occult
                            img(src="img/banderin-2.png", alt="")
                            h4 Casos con <strong>mediana necesidad</strong> de seguimiento.
                        .col-md-4.right.occult
                            img(src="img/banderin-3.png", alt="")
                            h4 Casos con <strong>baja necesidad</strong><br> de seguimiento.


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='feedback-despues.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-despues2.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".left", 1, {scaleX:.4, scaleY:.4, delay:1., ease: "Back.easeOut"});
            TweenLite.to(".left", 1, {opacity: 1, delay:1.});

            TweenLite.from(".middle", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".middle", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".right", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
            TweenLite.to(".right", 1, {opacity: 1, delay:2.});
        }
