extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .intro-feedback.bg-reflexion
                    .btn-reflexion.n-1.occult
                        .text-reflexion
                            p Los colaboradores pueden pasar por distintos estados de ánimo cuando reciben feedback

                    img.hb-left(src="img/iconos/hb-left.png", alt="")

                    .row-btn.btn-centro-general
                        a.btn.btn-primary.button-crema-g.btn-l(href='feedback-antes1.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes4.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-reflexion", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-reflexion", 1, {y:"50px", delay:.5});

        }
