extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.c-red.menu--active(href="feedback-taller.html") RDMA
                        li
                            a(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu
                      .container-fluid
                        ul.list-inline
                          li
                            a(href='feedback-taller.html') Inicio
                          li
                            a.line-w(href='feedback-antes.html') Antes
                          li
                            a(href='feedback-durante.html') Durante
                          li
                            a(href='feedback-despues.html') Después
                .intro-feedback.bg-intro
                    .btn-w-feedback.occult
                        p La experiencia de dar y recibir feedback

                    .row-intro-feedback
                        .box-btn-intro
                            .btn-intro-feedback.bg-red
                                h3 Antes
                            .btn-intro-feedback
                                h3 Durante
                            .btn-intro-feedback
                                h3 Después
                        .row-btn.mg-f-des
                            a.btn.btn-primary.button-crema-g.btn-l(href='feedback-taller5.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR
                            a.btn.btn-primary.button-crema-g.btn-r(href='feedback-antes1.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right

                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.from(".btn-w-feedback", .5, {marginRight: "-100px", delay:.5});
            TweenLite.to(".btn-w-feedback", .5, {opacity: 1, delay:.5});


        }
