extends layout
block content
    .container-wrapper
        .align-container
            .container.bg-home
                .content-home
                    p Curso de  Revisión de <span> Medio Año - CPE </span>
                    a.btn.btn-primary.button-red(href='#', role='button') Gestión del Desempeño
                    a.btn.btn-primary.button-crema(href='introduccion.html', role='button') COMENZAR
                        span.glyphicon.glyphicon-menu-right









