extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .etapas
                    .etapas-intro
                        .col-md-6
                            p.sub-titulo.c-red Etapa 1
                            .recuadro-procesos.bg-red.occult
                                p Planificación
                            .iconos-1
                                img.i-one.occult(src="img/iconos/line-1.png", alt="")
                                img.i-two.occult(src="img/iconos/c-red.png", alt="")

                        .col-md-6.pd-0
                            p.etapa.occult  En la etapa de <strong>Planificación</strong> revisamos<br> la importancia del <strong>alineamiento y decante</strong> de los objetivos individuales y/o planes de desarrollo de competencias para la <strong>contribución</strong> al logro de los <strong>objetivos</strong> organizacionales.

                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion3.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion5.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-procesos", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-procesos", 1, {y:"50px", delay:.5});

            TweenLite.to(".i-one", 1, {opacity: 1, delay:.9});
            TweenLite.from(".i-one", 1, {y:"50px", delay:.9});

            TweenLite.to(".i-two", 1, {opacity: 1, delay: 1.2});
            TweenLite.from(".i-two", 1, {y:"20px", delay: 1.2});

            TweenLite.to(".etapa", 1, {opacity: 1, delay: 1.5});
            TweenLite.from(".etapa", 1, {y:"50px", delay: 1.5});


        }


