extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu

                .objetivo
                    p.titulo Objetivos del curso
                    .row
                        .col-md-4.col-xs-4.colum-1.occult
                            img(src="img/iconos/1a.png", alt="")
                            h4.sub-titulo.c-red Reconocer
                            p.texto <strong>la importancia del feedback</strong> como instrumento para el crecimiento y desarrollo del líder y su equipo y el impacto de este espacio en la consecución de objetivos organizacionales.
                        .col-md-4.col-xs-4.colum-2.occult
                            img(src="img/iconos/2b.png", alt="")
                            h4.sub-titulo.c-green Revisar
                            p.texto <strong>las etapas del proceso</strong> y las recomendaciones para lograr una Revisión de Medio Año – RDMA, exitosa.
                        .col-md-4.col-xs-4.colum-3.occult
                            img(src="img/iconos/3c.png", alt="")
                            h4.sub-titulo.c-yellow Identificar
                            p.texto <strong>las principales <br> habilidades</strong> que el jefe<br> requiere poner<br> en práctica.
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion2.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right



                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
            TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});

            TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});

            TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
            TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});


        }

