extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu

                .veremos-hoy
                    .content-veremos-hoy.occult.btn-1
                        p ¡Empecemos!
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion1.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion3.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right
                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".btn-1", 1, {opacity: 1, delay:.5});
            TweenLite.from(".btn-1", 1, {y:"50px", delay:.5});

        }

