extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .que-haremos.bg-introduccion
                    .col-md-12
                        .content-que-haremos
                            .recuadro-1.occult
                            .recuadro-2.occult
                            .recuadro-3.occult
                            .recuadro-4.occult
                                p <span>¿Qué </span>  veremos en este curso?
                            a.btn.btn-primary.button-crema-g.btn-r(href='introduccion1.html', role='button') SIGUIENTE
                                span.glyphicon.glyphicon-menu-right
                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.



    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-2", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-2", 1, {y:"50px", delay:.5});

            TweenLite.to(".recuadro-1", 1, {opacity: 1, delay:.8});
            TweenLite.from(".recuadro-1", 1, {y:"50px", delay:.8});

            TweenLite.to(".recuadro-3", 1, {opacity: 1, delay: 1.1});
            TweenLite.from(".recuadro-3", 1, {y:"30px", delay: 1.1});

            TweenLite.to(".recuadro-4", 1, {opacity: 1, delay: 1.4});
            TweenLite.from(".recuadro-4", 1, {y:"20px", delay: 1.4});



        }/**/




