extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .objetivos
                    .objetivos-intro
                        p.sub-titulo.c-red Etapa 1
                        .recuadro-objetivo.bg-red
                            p Planificación
                        .btn-display.bg-red
                            h4 Objetivos Anuales

                        .mapa-objetivo
                            .box-1.one-1.occult
                                p INICIO DEL <span>DECANTE</span>

                            .flecha-1.one.occult.one-1.occult
                                .line
                                span.fecha-l.glyphicon.glyphicon-menu-down

                            .flecha-2.two.occult
                                span.fecha-l.glyphicon.glyphicon-menu-up
                                .line
                                span.circle-cruz

                            .box-g.box-2.two-2.occult
                                h4 Objetivos <br><strong>Vicepresidente</strong>

                            .content-flecha-right
                                .flecha-1.flecha-two.occult
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-right
                                .flecha-2.flecha-one.occult
                                    span.fecha-l.glyphicon.glyphicon-menu-left
                                    .line
                                    span.circle-cruz

                            .box-3.box-texto.two-2.occult
                                h4 ALTA DIRECCIÓN

                            .box-g.box-4.occult
                                h4 Objetivos <br><strong>Managing Directores</strong>

                            .content-flecha.left1
                                .flecha-1.occult.flecha-tres
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-cuatro
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-5.occult
                                h4 Objetivos <br><strong> Directores</strong>

                            .texto-1.box-texto.duo2.occult
                                h4 EJECUTIVOS

                            .content-flecha.left2
                                .flecha-1.occult.flecha-five
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-six
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-6.duo2.occult
                                h4 Objetivos <br><strong> Gerentes</strong>

                            .rectangulo.occult
                                span.fecha-l.glyphicon.glyphicon-menu-left
                                span.circle-cruz1

                            .rectangulo-2.occult
                                span.fecha-l.glyphicon.glyphicon-menu-right

                            .box-g.box-7.occult
                                h4 Objetivos <br><strong> Mando Medio Sr.</strong>

                            .content-flecha.left3
                                .flecha-1.occult.flecha-seven
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-eight
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-8.occult.eight
                                h4 Objetivos <br><strong> Mando Medio</strong>

                            .texto-2.box-texto.occult.occult.eight
                                h4 MANDOS MEDIOS

                            .rectangulo-3.occult
                                span.fecha-l.glyphicon.glyphicon-menu-left
                                span.circle-cruz4

                            .rectangulo-4.occult
                                span.fecha-l.glyphicon.glyphicon-menu-right

                            .box-g.box-9.occult
                                h4 Objetivos <br><strong> C. Individuales Sr.</strong>

                            .content-flecha.left4
                                .flecha-1.occult.flecha-nine.occult
                                    .line
                                    span.fecha-l.glyphicon.glyphicon-menu-down
                                .flecha-2.occult.flecha-ten.occult
                                    span.fecha-l.glyphicon.glyphicon-menu-up
                                    .line
                                    span.circle-cruz

                            .box-g.box-10.occult.duo3
                                h4 Objetivos <br><strong> C. Individuales</strong>

                            .box-texto.texto-3.duo3.occult
                                h4 C. INDIVIDUALES

                            .recuadro-objeto
                                .row.mg-b
                                    .col-md-2
                                        .triangulo-1
                                    .col-md-6
                                        p DECANTE
                                .row
                                    .col-md-2
                                        .triangulo-2
                                    .col-md-6
                                        p.c-green CONTRIBUCIÓN


                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='introduccion4.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='feedback-taller.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right

                include inc/footer


    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.to(".one-1", 1.5, {opacity:1, ease:"Back.easeInOut"});

            TweenLite.to(".two-2", 2.5, {opacity:1, ease:"Back.easeInOut", delay:1});

            TweenLite.to(".flecha-two", 3, {opacity:1, ease:"Back.easeInOut", delay:2});

            TweenLite.to(".box-4", 3.5, {opacity:1, ease:"Back.easeInOut", delay:3});

            TweenLite.to(".flecha-tres", 4, {opacity:1, ease:"Back.easeInOut", delay:4});

            TweenLite.to(".box-5", 4.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".box-5", 4.8, {opacity:1, ease:"Back.easeInOut", delay:56});

            TweenLite.to(".duo2", 5.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".flecha-five", 6.0, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".rectangulo-2", 6.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".box-7", 7.0, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".flecha-seven", 7.5, {opacity:1, ease:"Back.easeInOut", delay:5});

            TweenLite.to(".eight", 8.0, {opacity:1, ease:"Back.easeInOut", delay:6});

            TweenLite.to(".rectangulo-4", 8.5, {opacity:1, ease:"Back.easeInOut", delay:7});

            TweenLite.to(".box-9", 9.0, {opacity:1, ease:"Back.easeInOut", delay:8});

            TweenLite.to(".flecha-nine", 9.5, {opacity:1, ease:"Back.easeInOut", delay:8});

            TweenLite.to(".duo3", 10.0, {opacity:1, ease:"Back.easeInOut", delay:9});

            TweenLite.to(".flecha-ten", 10.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".rectangulo-3", 11.0, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-eight", 11.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".rectangulo", 12.0, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-six", 12.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-cuatro", 13, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".flecha-one", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});

            TweenLite.to(".two", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});
            TweenLite.to(".fin", 13.5, {opacity:1, ease:"Back.easeInOut", delay:10});


        }


