doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Alicorp-2017
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css?v=1.7')
        script(src='lib/jquery/dist/jquery.min.js')
        script(src='js/jquery.js')
        script(src='lib/gsap/src/minified/TweenMax.min.js')


    body
        block content

        script(src='js/jquery-ui.min.js')
        script(src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='js/main.js')
        script(src='js/ultimo.js')

