extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active.c-red(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1

                .content-resumen#ejer3.pg-g
                    .col-md-12
                        .col-md-5.occult.one
                            img(src="img/antes.jpg", alt="")
                            h3.sub-titulo Nos preparamos<br> para el feedback

                            .box-casos-e
                                img.pull-left(src="img/bt-g.jpg", alt="")
                                .texto-casosc
                                    a(href="feedback-antes1.html") Recomendaciones
                                    img(src="img/1a.jpg", alt="")

                            .box-casos-e
                                img.pull-left(src="img/bt-g.jpg", alt="")
                                .texto-casosc
                                    a(href="feedback-antes8.html") Habilidades
                                .row.row-table
                                    .col-md-7.pd-0
                                        h5 Empatía
                                        h5 Asertividad
                                        h5 Pensamiento Analítico
                                    .col-md-5
                                        h5 Objetividad
                                        h5 Autocontrol
                                        h5 Angustia

                            .box-casos-e
                                img.pull-left(src="img/bt-g.jpg", alt="")
                                .texto-casosc
                                    a(href="feedback-antes4.html") Estados emocionales
                                .row.row-table
                                    .col-md-7.pd-0.pd-r68
                                        h5 Euforia
                                        h5 Confusión
                                        h5 Resistencia
                                    .col-md-5
                                        h5 Inseguridad
                                        h5 Efusividad
                                        h5 Angustia

                        .col-md-4.pl-0.occult.two
                            img(src="img/despues.jpg", alt="")
                            h3.sub-titulo Metodología
                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.mg-7(src="img/1b.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-durante3.html") Objetivo Competencia
                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.mg-7(src="img/2b.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-durante4.html") Impacto Influencia

                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.mg-7(src="img/3b.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-durante5.html") Plan<br> Compromiso


                        .col-md-3.pd-0.occult.three
                            img(src="img/despues1.jpg", alt="")
                            h3.sub-titulo Necesidades de seguimiento
                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.pd-t24(src="img/1c.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-despues2.html") Casos con <strong>alta necesidad</strong>  de seguimiento.

                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.pd-t24(src="img/2c.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-despues3.html") Casos con <strong>mediana necesidad</strong> de seguimiento.

                            .col-md-12.pd-0
                                .box-casos-e
                                    img.pull-left.pd-t24(src="img/3c.jpg", alt="")
                                    .texto-casosc
                                        a(href="feedback-despues4.html") Casos con <strong>baja necesidad </strong> de seguimiento.




                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='resumen.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='resumen2.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {

            TweenLite.from(".one", 1, {scaleX:.4, scaleY:.4, delay:.5, ease: "Back.easeOut"});
            TweenLite.to(".one", 1, {opacity: 1, delay: .5});

            TweenLite.from(".two", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
            TweenLite.to(".two", 1, {opacity: 1, delay:1.5});

            TweenLite.from(".three", 1, {scaleX:.4, scaleY:.4, delay:2.0, ease: "Back.easeOut"});
            TweenLite.to(".three", 1, {opacity: 1, delay:2.0});

        }

