extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu.menu--active.c-red(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu(href="resumen.html") RESUMEN

                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK


                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")
                    .sub-menu.submenu1

                .content-habilidades.height-5
                    .text-habilidades
                        img.h-left(src="img/iconos/h-left.png", alt="")
                        h2.box-letra ¡Respuesta correcta!
                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='resumen2.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='resumen3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right
                include inc/footer


