extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") DRMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK

                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1

                .content-resumen
                    .box-titulo-resumen
                        .col-md-1
                            img(src="img/iconos/pieza.png", alt="")
                        .col-md-6
                            .titulo Caso práctico
                    .box-titulo-resumen.true-false.h-63.mg-b1
                        .col-md-1
                        .col-md-11
                            .titulo Selecciona verdadero (V) o falso (F):
                            .row
                                .col-md-10
                                    p El proceso de RDMA empieza con la invitación del jefe

                                    p Antes de la sesión de feedback, el colaborador debe ingresar sus avances a Destaca

                                    p La sesión de feedback debe ser ejecutada en un ambiente fuera de elementos distractores

                                    p La responsabilidad de la ejecución de la RDMA es únicamente del jefe

                                    p En la etapa de RDMA pueda agregar o eliminar iniciativas

                                    p El proceso de RDMA termina con el envío de los acuerdos al jefe

                                .col-md-2
                                    form.col-respuesta
                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                                        select.selectpicker
                                            option -selecciona-
                                            option V
                                            option F
                                            option N.A

                .row-btn
                    a.btn.btn-primary.button-crema-g.btn-l(href='resumen1.html', role='button')
                        span.glyphicon.glyphicon-menu-left
                        | ANTERIOR
                    a.btn.btn-primary.button-crema-g.btn-r(href='resumen3.html', role='button')
                        | SIGUIENTE
                        span.glyphicon.glyphicon-menu-right


                include inc/footer

    script(type='text/javascript').
        jQuery(document).ready(function ($) {

            $('select').on('change', function() {

                    getSelects('selectpicker');

                });

                function getSelects(element_class) {
                    var array2 = [];
                    $('select.' + element_class).children('option:selected').each(function () {
                        var $this = $(this);
                        array2.push($this.text());
                    });

                    var index = array2.indexOf("-selecciona-");

                    if (index == -1) {

                        var array1 = ['F','V','V','F','N.A','F'];

                        var is_same = array1.length == array2.length && array1.every(function(element, index) {
                                    return element === array2[index];
                                });

                        if(is_same){

                           window.location.href ="resumen2bien.html";

                        }
                        else{

                            window.location.href ="resumen2mal.html";
                        }
                    }
                }  var array1 = ['Acierto','Error','Acierto','Error'];

        });


