extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK
                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1

                .intro-feedback.bg-feedback11.h-resumen
                    .recuadro-frase.occult
                        p.titulo “Las personas se convencen del líder antes de convencerse de la visión.”
                        h4 John C. Maxwell
                        h5.texto Experto en liderazgo,<br> conferenciante y autor norteamericano

                    .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='resumen3.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR

                            a.btn.btn-primary.button-crema-g.btn-r(href='resumen5.html', role='button')
                                | SIGUIENTE
                                span.glyphicon.glyphicon-menu-right



                    .footer
                        p Alicorp 2017 © Todos los derechos reservados.

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".recuadro-frase", 1, {opacity: 1, delay:.5});
            TweenLite.from(".recuadro-frase", 1, {y:"20px", delay:.5});


        }
