extends layout
block content
    .container-wrapper
        .align-container
            .container
                .menu
                    ul.list-inline.menu-principal
                        li
                            a.ico-menu.c-red(href="introduccion.html") INTRODUCCIÓN
                        li
                            a.ico-menu(href="feedback-taller.html") RDMA
                        li
                            a.ico-menu(href="ejercicios.html") EJERCICIOS
                        li
                            a.ico-menu.menu--active(href="resumen.html") RESUMEN
                        li
                            a.ico-menu(href="feedback-durante.html") METODOLOGÍA FEEDBACK
                        a.box-logo(href="index.html")
                            .card-logo
                                img(src="img/iconos/logo.png", alt="")

                    .sub-menu.submenu1
                .contactos
                    h2 Muchas gracias por tu <br>  tiempo y compromiso.
                    h3 Si tienes alguna pregunta o consulta<br> comunícate con tu Business Partner<br> o el equipo de Desarrollo Organizacional.


                .row-intro-feedback.l-328
                        .row-btn
                            a.btn.btn-primary.button-crema-g.btn-l(href='resumen4.html', role='button')
                                span.glyphicon.glyphicon-menu-left
                                | ANTERIOR





                include  inc/footer

